@{
    Layout = "../razor-layout.cshtml";
}
@using Alipig.Framework.Util
@using Alipig.Framework.Web.Html
<div>
	<ul class="breadcrumb">
		<li>
			<a href="#">主页</a> <span class="divider">/</span>
		</li>
		<li>
			<a href="#">管理权限</a> <span class="divider">/</span>
		</li>
		<li>
			<a href="#">权限列表</a>
		</li>
	</ul>
</div>

<div class="row-fluid">		
    <div class="box span12">
    	<div class="box-header well" data-original-title>
    		<h2><i class="icon-zoom-in"></i> 所属网站</h2>
            <div class="box-btn pull-right">
                <a href="/site/list" class="btn btn-success">返回网站列表</a>
            </div>
    	</div>        
        <div class="box-content">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <div class="span4">
                            @SelectHelpers.DropDownList("siteId", HtmlUtils.GetSiteSelectList(ViewBag.SiteList,ViewBag.SiteId.Value), new{ data_rel="chosen",onChange = "doChangeSite();" })
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>    </div>
</div>

<div class="row-fluid">		
    <div class="box span12">
    	<div class="box-header well" data-original-title>
    		<h2><i class="icon-list-alt"></i> 角色列表</h2>
            <div class="box-btn pull-right">
                <a href="/role/add?siteId=@ViewBag.SiteId.Value" class="btn btn-success">新增</a>
                <a href="javascript:;" class="btn btn-success deleteItems">删除选中</a>
                <a href="javascript:;" class="btn btn-success orderrole">编辑排序</a>
            </div>
    	</div>        
        <div class="box-content">
            <table class="table table-striped">
				  <thead>
					  <tr>
                          <th><input type="checkbox" id="CheckAll" name="CheckAll" class="parentCheckAll" title = "全选/不选"></th>
						  <th>名称</th>
						  <th>描述</th>
						  <th>编辑权限</th>
						  <th>操作</th>                                          
					  </tr>
				  </thead>   
				  <tbody>
                      @foreach (var item in Model)
                      {
					    <tr>
                            <td><input type="checkbox" name="CheckBox" id="CheckBox" rel="@item.ID" value="true" class = "check-box"></td>
					    	<td>@item.Name</td>
					    	<td class="center">@item.Description</td>
					    	<td class="center">
							    <a class="btn btn-mini btn-success" href="">
							    	<i class="icon-zoom-in icon-white"></i>编辑权限                                         
							    </a>
					    	</td>
					    	<td class="center">
							    <a class="btn btn-mini btn-info" href="/role/edit/@item.AutoId">
							    	<i class="icon-edit icon-white"></i>  
							    	修改                                        
							    </a>
							    <a class="btn btn-mini btn-danger confirm" title="确定要删除吗?" href="/role/delete/@item.AutoId">
							    	<i class="icon-trash icon-white"></i> 
							    	删除
							    </a>
					    	</td>                                       
					    </tr>   
                      }                             
				  </tbody>
			</table>
        </div>    </div>
</div>

<div class="modal hide fade" id="orderModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3></h3>
	</div>
	<div class="modal-body" style="height:500px">
		<iframe name="ordergroup-iframe" id="ordergroup-iframe" width="100%" height="100%" marginheight="0" marginwidth="0" frameborder="0" scrolling="auto" src="">

		</iframe>
	</div>
	<div class="modal-footer">
	</div>
</div>        
@section JavaScript
{
    <script type="text/javascript">
        var siteId = '@ViewBag.SiteId.Value';

        function goUrl(url) {
            url += "?siteId=" + siteId;
            window.location = url;
        }

        function doChangeSite() {
            var siteId = $.trim($('#siteId').val());

            var url = '/role/list';
            url += '?siteId=' + siteId;
            //url = $.format(url + '?siteId={0}', $.encode(systemId));
            window.location = url;
        }
        
        $(document).ready(function () {
            $(".deleteItems").click(
                function () {
                    var self = $(this);

                    var ids = [];
                    $(".check-box").each(function () {
                        var val = $(this).attr("rel");
                        if (this.checked) {
                            ids.push(val);
                        }
                    });

                    if (ids.length == 0) {
                        notyu.tip("请选择至少一个角色！", "warning");
                        return;
                    }

                    notyu.confirm("确定要删除选中的角色吗？",
                        function (result) {
                            if (result) {
                                $.post("/role/delete", { id: ids.join(",") },
                                function (data) {
                                    if (data.code != "success") {
                                        notyu.tip(data.msg, data.code);
                                    }
                                    else {
                                        notyu.tip(data.msg, data.code,
                                            function () {
                                                window.location.reload();
                                            });
                                    }
                                }, "json");
                            }
                        });
                    return false;
                });

            $(".orderrole").click(function (e) {
                e.preventDefault();
                $("#ordergroup-iframe").attr("src", "/role/vieworder?siteId=" + siteId);
                $("#orderModal h3").html("编辑排序");
                $("#orderModal").modal('toggle');
            });
        });
        </script>
}