@{
    Layout = "../razor-layout.cshtml";
}
@using Alipig.Framework.Web.Html
@using Alipig.Framework.Util
<div>
    <ul class="breadcrumb">
        <li>
            <a href="#">首页</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="#">网站权限</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="#">新增权限项</a>
        </li>
    </ul>
</div>

@if (ViewBag.Errored)
{
    @HtmlUtils.DisplayHtml(ViewBag.ErrorMsg)
}

<form method="post" action="" class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="focusedInput">所属网站:</label>
            <div class="controls">
                <label class="control-label">@ViewBag.SiteName.Value</label>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="focusedInput">所属分组:</label>
            <div class="controls">
                @SelectHelpers.DropDownList("PermissionGroupId", HtmlUtils.GetPermissionGroupSelectList(ViewBag.PermissionGroupList,ViewBag.PermissionGroupId.Value), new{ data_rel="chosen"})
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="focusedInput">权限代码:</label>
            <div class="controls">
                <input class="input-xlarge focused" name="Code" id="Code" type="text" value="@Model.Code">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="focusedInput">显示名称:</label>
            <div class="controls">
                <input class="input-xlarge focused" name="DisplayName" id="DisplayName" type="text" value="@Model.DisplayName">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="focusedInput">显示类型:</label>
            <div class="controls">
                @SelectHelpers.DropDownList("DisplayStyle", HtmlUtils.GetPermissionItemDisplayStyleSelectList(null), new{ onChange = "doChangeDisplayStyle(this.value);"})
            </div>
        </div>

        <div class="control-group fill-more hide">
            <label class="control-label" for="focusedInput">Json数据地址:</label>
            <div class="controls">
                <input class="input-xlarge focused" name="JsonDataUrl" id="JsonDataUrl" type="text" value="@Model.JsonDataUrl">
            </div>
        </div>

        <div class="control-group fill-more hide">
            <label class="control-label" for="focusedInput">Json数据常量:</label>
            <div class="controls">
                <input class="input-xlarge focused" name="JsonDataConst" id="JsonDataConst" type="text" value="@Model.JsonDataConst">
            </div>
        </div>

        <div class="control-group fill-more hide">
            <div class="controls">
                说明：<b>Json数据地址</b>被请求时，会附加Url参数“permissionCode”，因此每个系统只需要提供一个地址，根据权限代码返回相应的Json数据即可。当<b>Json数据地址</b>为空时，系统会使用<b>Json数据常量</b>初始化<b>下拉框</b>或<b>树视图</b>类型的控件。（<a href="#">查看Json数据格式</a>）
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">保存</button>
            <a href="/permission/list?siteId=@ViewBag.SiteId.Value" class="btn">返回列表</a>
        </div>
    </fieldset>
</form>

@section JavaScript
{
    
    <script type="text/javascript">

        function doChangeDisplayStyle(value) {
            if (value == undefined) {
                value = $('#displayStyle').val();
            }
            // 当是下拉框或树视图时显示
            $('.fill-more')[(value == 'DropDownList' || value == 'TreeView') ? 'show' : 'hide']();
        }

        $(function () {
            doChangeDisplayStyle();
        });
    </script>
    
}